body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Cambia esto según el color de fondo deseado */
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px; /* Ancho del juego */
    height: 600px; /* Alto del juego */
}
